.candidates h1 { 
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    color: var(--www-centrinvest-ru-cabinet-training-1440-x-8104000244140625-default-4-apple, #50B848);

/* www_centrinvest_ru_cabinet_training__1440x810.4000244140625_default (4)/Arial/Bold 16 */
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 17.6px; /* 110% */
margin-bottom: 20px;
}

.candidates p {
    color: var(--www-centrinvest-ru-cabinet-training-1440-x-8104000244140625-default-4-mine-shaft, #333);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.candidates {
    width: 70%;
}

.candidate {
    width: 95%;
    padding: 15px;
    border: 1px solid #3333336b;
    border-radius: 5px;
}

.buttons {
    display: flex;
}

.candidate button {
    margin-right: 10px;
    display: flex;
    padding: 6.8px 16.254px 6.8px 16.596px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--www-centrinvest-ru-cabinet-training-1440-x-8104000244140625-default-1-apple, #4CAE4C);
    background: var(--www-centrinvest-ru-cabinet-training-1440-x-8104000244140625-default-1-fern, #326832);
    color: var(--www-centrinvest-ru-cabinet-training-1440-x-8104000244140625-default-1-nero, #FFF);
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    cursor: pointer;
    border: none;
}

.buttons .red_btn {
    background: #691a1a;
    border: none;
}

.buttons button:hover {
    opacity: 0.9;
}
.candidate {
    margin-bottom: 15px;
}

@media (max-width: 900px) { 
    
 }
