.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.box {
    display: flex;
}

@media (max-width: 900px) { 

    .container {
        width: 100%;
        max-width: 840px;
    }

    .box {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }
