.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);
    text-align: center;
    font-family: 'Roboto';
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 45.6px; /* 120% */
}

.subtitle {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.cards {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 20px;
    max-width: 280px;
    min-width: 260px;
    height: 322px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 5px 10px 2px rgba(34, 60, 80, 0.5);
    cursor: pointer;
    transition: all .3s ease;
}

.card:hover {
    background-color: #e2e2e2;
}

.card__title {
    color: #41AC5C;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
    margin-bottom: 15px;
}

.card__subtitle {
    color: #1a1a1a;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

@media (max-width: 900px) { 
    .title {
        font-size: 24px;
    }
    .cards {
        align-items: center;
        flex-direction: column;
    }
    .card{
        height: 240px;
        margin-bottom: 30px;
    }
 }