.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header .left {
    display: flex;
    align-items: center;
    
}

.header nav {
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.link a{
    text-decoration: none;
    margin-right: 15px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #8D8D8D;
    transition: color .3s ease;
}

.link a:hover {
    color: #505050;
}

.button {
    display: flex;

    max-width: 196px;
    min-height: 38px;
    padding: 0.8px 16.8px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-apple, #50B848);
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.4px; /* 120% */
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}



@media (max-width: 900px) {

    .container{
        box-sizing: border-box;
        padding: 20px;
    }
    .link a {
        display: none;
    }
    .header {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
 }