.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);
    font-family: 'Montserrat';
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 45.6px; /* 120% */
    margin-bottom: 60px;
}

.item {
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    font-family: 'Montserrat';
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black, #000);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 100% */
    margin-right: 60px;
}

.item {
    margin-bottom: 50px;
}

.item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item__title {
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);
    /* www_centrinvest_ru_social-projects_career_1440x810.4000244140625_default/Montserrat/SemiBold 16 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px; /* 130% */
    letter-spacing: 0.5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.item__subtitle {
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);
    /* www_centrinvest_ru_social-projects_career_1440x810.4000244140625_default/Roboto/Light 16 */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.4px; /* 140% */
    letter-spacing: 0.5px;
}

.footer {
    margin: 100px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}

.footer .left {
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-black-russian, #01000C);

/* www_centrinvest_ru_social-projects_career_1440x810.4000244140625_default/Montserrat/Medium 38 */
font-family: Montserrat;
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 45.6px; /* 120% */
}

.button {
    display: flex;
    min-width: 194px;
    min-height: 58px;
    padding: 0.8px 24.8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-apple, #50B848);
    color: var(--www-centrinvest-ru-social-projects-career-1440-x-8104000244140625-default-nero, #FFF);
    text-align: center;
    
    /* www_centrinvest_ru_social-projects_career_1440x810.4000244140625_default/Roboto/Regular 16 upper */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #45a03f;
}
