.nav_admin {
    display: flex;
    flex-direction: column;
    margin: 20px 100px 0px 0px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 40px;
    color: #000;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 0px 19px 1px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 1px 0px 19px 1px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 1px 0px 19px 1px rgba(34, 60, 80, 0.2) inset;
    transition: all .3s ease;
    padding: 10px;
}

.link:hover {
    background-color: #e0e0e0;
}